.container ul {
  margin-top: 40px;
}


.navbar .container-fluid {
  background-color: #3cc3fc;
  height: 90px;
  margin-bottom: 50px;
}

.beer-image {
  width: auto;
  height: auto;
  max-width: fit-content;
  max-height: 200px;
  margin-top: 30px;
  margin-left: 10px;
}

.card-title {
  font-weight: 600;
  line-height: 3rem;
}

p {
  line-height: 2rem;
}

.card-img-top {

  max-width: fit-content;
  max-height: 500px;
  margin-top: 30px;
}